language: python
install: true
script: true
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  region: "us-east-1"
  app: "help50"
  env: "help50"
  bucket_name: "codeship50"
  on:
    branch: master
