{% extends "layout.html" %}
{% block body %}
<form action="/" method="post">
    <input name="cmd" type="hidden" value=""/>
    <input name="format" type="hidden" value="ans"/>
    <input name="username" type="hidden" value=""/>
    <div class="form-group">
        <textarea class="form-control" name="script" placeholder="paste a command's output here" rows="3"></textarea>
    </div>
    <button class="btn btn-default" type="submit">help50</button>
</form>
<script>

     jQuery(function($) {

         // autosize textarea
         autosize($("textarea"));

         // focus on textarea
         $("textarea").focus();

     });
 
</script>
{% endblock %}
