<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}

            <!-- http://www.jsdelivr.com/projects/bootstrap -->
            <link href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

            <!-- http://www.jsdelivr.com/projects/font-hack -->
            <link href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css" rel="stylesheet"/>

            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- http://www.jsdelivr.com/projects/jquery -->
            <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>

            <!-- http://www.jsdelivr.com/projects/bootstrap -->
            <script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <!-- http://www.jsdelivr.com/projects/jquery.autosize -->
            <script src="https://cdn.jsdelivr.net/jquery.autosize/3.0.17/autosize.min.js"></script>

            <style>

                body {
                    font-family: Hack, monospace;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    padding: 0;
                }

                .container {
                    width: 100%;
                }

                pre {
                    white-space: pre-wrap;
                    word-break: break-word;
                }

            </style>

            <title>CS50 Help</title>

        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
