{% extends "layout.html" %}
{% block head %}

    {{ super() }}

    <style>

        table {
            margin: 0;
            table-layout: fixed;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
            white-space: pre;
        }

        input[type=checkbox] {
            display: block;
            margin: auto;
            position: relative;
            top: 50%;
        }

        label {
            display: inline-block;
            height: 100%;
            width: 100%;
        }

        .reviewed, .id {
            text-align: center;
            width: 5%;
        }

        .cmd {
            overflow: auto;
            width: 30%;
        }

        .script {
            overflow: auto;
            width: 50%;
        }


    </style>
{% endblock %}
{% block body %}
    {% if inputs | length > 0 %}
        <form action="/review" method="post">
            <table>
                <thead>
                    <tr>
                        <th class="reviewed">&#x2713;</th>
                        <th class="id">id</th>
                        <th class="cmd">cmd</th>
                        <th class="script">script</th>
                    </tr>
                </thead>
                <tbody>
                    {% for input in inputs %}
                    <tr>
                        <td class="reviewed"><label><input type="checkbox" name="{{ input.id }}"  tabindex="{{ input.id }}" value="true"></label></td>
                        <td class="id">{{ input.id }}</td>
                        <td class="cmd">{{ input.cmd }}</td>
                        <td class="script">{{ input.script }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>
            <button class="btn btn-default" type="submit">Mark as Reviewed</button>
        </form>
    {% else %}
        <p>No unreviewed inputs.</p>
    {% endif %}
{% endblock %}
